.main
	min-height: 648px
	padding: 35px 0 0 0
	background: #cbe4fc url(../common/main/img/bg.jpg) no-repeat
	background-size: cover
	&__title
		margin-bottom: 57px
		text-align: center
		font-family: $RobotoSlab
		font-size: 36px
		font-weight: 400
		color: $dark
		&_big
			margin-top: 35px
			display: block
			font-family: $RobotoSlab
			font-size: 100px
			font-weight: 400
			text-transform: uppercase
	&__img
		max-width: 100%
		&-wrap
			width: 88px
			margin: 0 auto
	&__btn
		display: flex
		justify-content: center
